#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}
#btncon {
      text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
    font-family: initial;
    transition: background-color 0.25s;

}
.button:hover{
    background-color: rgb(70, 231, 172);
}